lab_1.ipynb
src/calibration/*.jpg
*/.ipynb_checkpoints/
*/.DS_Store
*/.vscode
__pycache__/
traffic_Data/
.pytest_cache
results/
*/.pytest_cache
*/.pytest_cache/
*.xlsx
*.csv
src/*.mp4
*.avi
data/videos/
data/*.mp4